extends ../layout.pug

block content 
    h1 Add a new Phone 
    form(action="/phones/create", method="POST")
        .form-group
            label Name
            input.form-control(type="text", name="name")
        .form-group
            label Price
            input.form-control(type="number", name="price")
        .form-group
            label Manufacturer
            input.form-control(type="text", name="manufacturer")
        .form-group
            label Description
            input.form-control(type="text", name="description")
        .form-group
            label Image
            input.form-control(type="text", name="image")
        input.btn.btn-block.btn-info(type="submit", value="Send")